doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/stylesheets/homePage/home.css")
  body
    block content
      header
        h1 Students System
        p welcome you #{name}
        button logOut
      body
        .leftContent
          ul
            li 个人首页
            li 管理中心
            li 搜索其他

